[Unit]
Description=OpenSearch
After=network.target

[Service]
Type=simple
User=opensearch
Group=opensearch
Environment="OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
Environment="DISABLE_SECURITY_PLUGIN=false"
Environment="cluster.name=perceptor-cluster"
Environment="node.name=perceptor-node"
Environment="discovery.type=single-node"
EnvironmentFile=-/etc/perceptor/opensearch.env
WorkingDirectory=/usr/share/opensearch
ExecStart=/usr/share/opensearch/bin/opensearch
LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
